<hello>
  <h3>{props.title}</h3>

  <script lang="ts">
    import { RiotComponent, withTypes } from 'riot'
    import { HelloComponentProps, HelloComponentState } from './types'

    export interface HelloComponent extends RiotComponent<HelloComponentProps, HelloComponentState> {}

    export default withTypes<HelloComponent>({
      state: {
        isReady: false
      }
    })
  </script>
</hello>