<hello>
  <h3>{title}</h3>

  <script lang="ts">
    import { RiotComponent, withTypes } from 'riot'
    export type LogsComponent =
      RiotComponent<any> &
      { title: string } &
      Record<string, any>
    export default withTypes<any>({
      title: 'Hello',
    })
  </script>
</hello>
