
/* --HTML-- */
html {
color: $FONT_COLOR;
overflow-y:scroll;
}

/* --BODY-- */
body {
	font-size: $FONT_SIZE;
	font-family: $FONT_MEIRIO;
	margin: 0;
	padding: 0;
	min-width: 1000px;
	letter-spacing: 1.2px;
  overflow: hidden;
	-webkit-text-size-adjust: 100%;
	box-sizing:border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

img {
	vertical-align:bottom;
}

/* --OTHER TAGS-- */
a {
	overflow:hidden;
	outline:none;
	text-decoration:none;
}

a img, img {
border:0;
}

a img {
background: none;
}

/* clearfix */
.clearfix {
	@include clearfix;
}


/*-----------------------------------------
  00:style
------------------------------------------*/

/*-----margin-----*/
$value: 80;
@while $value > 0 {
	.mb#{$value} {
		@include marginBottom($value);
	}
	$value: $value - 5;
}

.mr0 {
	@include marginRight(0);
}


/*-----float-----*/
.fl_l {
	float:left;
}
.fl_r {
	float:right;
}
.cl_both {
	clear:both;
}

/*-----font-----*/
.fw_b {
	font-weight:bold;
}

.ta_r {
	text-align:right;
}
.ta_c {
	text-align:center;
}
.ta_l {
	text-align:left;
}

.f_min {
	font-family: $FONT_MIN;
}

$value: 20;
@while $value > 10 {
	.fs#{$value} {
		@include fontSize($value);
	}
	$value: $value - 1;
}


#pagetop {
	position: fixed;
	right: 30px;
	bottom: 30px;
}

.container {
	width: 900px;
	margin: 0 auto 50px auto;
	overflow: hidden;

}

.maincolumn {
	float: left;
	width: 680px;
}
