.page-demo {

  .box {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    &_tit {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 15px;
    }

    li {
      margin-bottom: 10px;
    }

    select {
      width: 150px;
      height: 22px;
      border-radius: 0;
      font-size: 12px;
      transform: translate(-15px, -40px);
    }
  }
}
